body{
	font-family: 'Roboto', sans-serif;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: blue;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


.carrito {
	display: flex;
	justify-content: end;
}
.d-flex{
	display: flex;
}
.flex-direction-column{
	flex-direction: column;
}
.justify-content-between{
	justify-content: space-between;
}
.aling-items-strech{
	align-items: stretch;
}
.aling-items-center{
	align-items: center;
}
.justify-content-arround{
	justify-content: space-around;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-end{
	justify-content: flex-end;
}
.azul{
	color: blue;
}
.bg-azul{
	background-color: blue;
}
.rojo{
	background-color: var(--color-primary);
}
.bg-gray{
	background-color: #fcfcfc;
}
.color-rojo{
	color: var(--color-primary);	
}
.pt-20{
	padding-top:20px;
}
.mt-20{
	margin-top:20px;
}
.m0{
	margin: 0px;
}
.p30{
	padding:30px;
}
.mb-0{
	margin-bottom: 0px;
}
.mr-20{
	margin-right: 20px;
}
.prl-30{
	padding-left: 30px;
	padding-right: 30px;
}
.ml-20{
	margin-left: 20px;
}
.t-justify{
	text-align: justify;
}
ul.pl-15{
	padding-left: 15px;
}
ul.pl-15 > li{
	margin-top: 5px;
}
.panel:hover {
   cursor: pointer;
   box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
}
small span:first-child {
	color: #eda036;
}
small span:last-child {
	color: #7b7b7c;
}
hr{
	border-top: 2px solid #eee;
}
@media (max-width: 765px) {
	.fd-fluid {
	    padding: 0px;
	}
}